<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.1" targetFramework="net452" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net452" />
  <package id="ExpertPdfHtmlToPdf" version="12.3.0" targetFramework="net452" />
  <package id="FreeSpire.Office" version="4.3.1" targetFramework="net452" />
  <package id="FreeSpire.PDF" version="5.4.0" targetFramework="net452" />
  <package id="HtmlToPdf" version="1.0.4" targetFramework="net452" />
  <package id="IronOcr" version="4.4.0" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.8" targetFramework="net452" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net452" />
  <package id="net.sf.mpxj-common" version="7.7.1" targetFramework="net452" />
  <package id="net.sf.mpxj-for-csharp" version="7.7.1" targetFramework="net452" />
  <package id="net.sf.mpxj-ikvm" version="7.7.1" targetFramework="net452" />
  <package id="NReco.PdfGenerator.LT" version="1.1.17" targetFramework="net452" />
  <package id="wkhtmltopdf.msvc.exe" version="1.0.2" targetFramework="net452" />
</packages>