<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-CampanasPPG-20180912121014.mdf;Initial Catalog=aspnet-CampanasPPG-20180912121014;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MktCampanas" connectionString="Data Source=10.104.175.154\GOVDEV16;Initial Catalog=Mtk_Campanias;Persist Security Info=True;User Id=Bill_to;Password=S4t3#mp*01;MultipleActiveResultSets=True; Connection Timeout=300;" providerName="System.Data.SqlClient" />
    <!--<add name="MktCampanas" connectionString="Data Source=STLTDWHSQLD01;Initial Catalog=Mtk_Campanias;Persist Security Info=True;User Id=Bill_to;Password=S4t3#mp*01;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AllowOrigin" value="http://localhost:1208" />
    <add key="DirectorioLayout" value="\\10.104.175.150\Campania\WSCampania\Layout" />
    <add key="DirectorioLayoutCronograma" value="DirectorioLayoutCronograma" />
    <add key="DirectorioReporte" value="DirectorioReporte" />
    <add key="UrlReporteCEO" value="UrlReporteCEO" />
    <add key="NombreReporteCEO" value="NombreReporteCEO" />
    <add key="UrlReporteMKT" value="UrlReporteMKT" />
    <add key="NombreReporteMKT" value="NombreReporteMKT" />
    <add key="UrlReporteSKU" value="UrlReporteSKU" />
    <add key="NombreReporteSKU" value="NombreReporteSKU" />
    <add key="UsuarioSharePoint" value="UsuarioSharePoint" />
    <add key="PasswordSharePoint" value="PasswordSharePoint" />
    <add key="ServerLdap" value="ServerLdap" />
    <add key="DirectorioLdapTLT" value="OU=users,OU=TLT,DC=nac,DC=ppg,DC=com"/>
    <add key="DirectorioLdapCUA" value="OU=users,OU=CUA,DC=nac,DC=ppg,DC=com"/>
    <add key="WidthPDF" value="WidthPDF" />
    <add key="HeigthPDF" value="HeigthPDF" />
    <add key="WidthPDFVertical" value="WidthPDFVertical" />
    <add key="HeigthPDFVertical" value="HeigthPDFVertical" />
    <!--<add key="pathImgPPG" value="C:\Users\k697344\Documents\Comex PPG\Proyectos\CampanasComexPPG\CampanasComexPPG\Images\PPG_Layout.png" />
    <add key="pathImgComex" value="C:\Users\k697344\Documents\Comex PPG\Proyectos\CampanasComexPPG\CampanasComexPPG\Images\comex_layout_2.png" />-->
    <add key="PathImgPPG" value="PathImgPPG" />
    <add key="PathImgComex" value="PathImgComex" />
    <add key="IncluirSi" value="SI" />
    <add key="IncluirNo" value="NO" />
    <add key="TipoFlujoArchivo" value="ARCHIVO" />
    <add key="TipoFlujoAprobacion" value="APROBACION" />
    <add key="TipoFlujoInformativo" value="INFORMATIVO" />
    <add key="TipoFlujoActualizar" value="ACTUALIZAR" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCFCampanasPPG.ServicioCampana" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://cmxcampaniadev.nac.ppg.com/WSCampania" />
          </baseAddresses>
        </host>
        <!--bindingConfiguration="TransportSecurity"-->

        <endpoint address="" 
                  binding="webHttpBinding" 
                  bindingConfiguration="TransportSecurity" 
                  contract="WCFCampanasPPG.IServicioCampana" 
                  behaviorConfiguration="WebBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <!--<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />-->
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    
    <endpointBehaviors>
      <behavior name="WebBehavior">
        <webHttp />
      </behavior>
    </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="TransportSecurity" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Buffered">
          <!--<security mode="None"></security>-->
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
        <add binding="webHttpBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" /> 
      </customHeaders>
    </httpProtocol>-->
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
